a {
  //margin: 20px;
  &.nuxt-link-exact-active {
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: hsla(170, 90%, 43%, 1.0);
  }
}
a:hover {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: hsla(170, 90%, 43%, 0.5);
  transition-timing-function: ease-in-out;
}
#email:hover , #location:hover, #phone:hover {
  .svg_icon {
    fill: hsla(170, 90%, 43%, 1.0);
  }
}
