$primary: hsla(170, 90%, 43%, 1.0);
$secondary: hsla(211, 28%, 29%, 1.0);
$white: hsla(0, 0%, 100%, 1.0);
$black: hsla(0, 0%, 0%, 1.0);


#App {
  font-family: "SF Pro Rounded", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url("~/assets/re-edited.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: exclusion;
}
#Nav {
  background-color: transparent;
  height: 10vh;
}
.footer {
  height: 10vh;
  width: 100vw;
  // background-color: $secondary;
  position: absolute;
  bottom: 0;
}
.intro {
  height: 100vh;
}
a {
  color: hsla(0, 0%, 100%, 0.5);
  margin: 20px;
  &.nuxt-link-exact-active {
    color: $white;
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: $primary;
  }
}
a:hover {
  color: $white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: hsla(170, 90%, 43%, 0.5);
  transition-timing-function: ease-in-out;
}
.bubble {
  background-color: $primary;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .04em;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 20px 20px 20px 0;
}
#name, #email, #location, #phone {
  color: $white;
}
#profession {
  color: $white;
  letter-spacing: 0.1em;
}
#email:hover , #location:hover, #phone:hover {
  .svg_icon {
    fill: hsla(170, 90%, 43%, 1.0);
  }
}
.svg_icon {
  fill: $white;
}
#login_Facebook, #login_Twitter, #login_Google, #login_Github {
  margin: 0!important;
}
#sidebar {
  left: 0;
  top: 0;
  height: 100vh;
  position: fixed;
}
#facebook_mainFrame, #twitter_mainFrame, #google_mainFrame, #linkedin_mainFrame {
  opacity: 20%;
}
#facebook_mainFrame:hover, #twitter_mainFrame:hover, #google_mainFrame:hover, #linkedin_mainFrame:hover {
  opacity: 100%;
  transition: ease 2s;
  #facebook_container , #twitter_container, #google_container, #linkedin_container {
    transform: scale(1.5) translate(-20px, -45px);
    transition: ease 2s;
  }
}












  // UnderDevelop Pages
#about, #contact, #skills, #portfolio, #hireme {
  font-size: 60px;
  color: hsla(0, 0%, 100%, 1.0);
}
