$primary: hsla(170, 90%, 43%, 1.0);
$primary-50: hsla(170, 90%, 43%, 0.5);
$secondary: hsla(211, 28%, 29%, 1.0);
$white: hsla(0, 0%, 100%, 1.0);
$white-50: hsla(0, 0%, 100%, 0.5);
$black: hsla(0, 0%, 0%, 1.0);
$facebook: hsla(220, 46%, 48%, 1.0);
$twitter: hsla(206, 88%, 59%, 1.0);
$google: hsla(5, 81%, 56%, 1.0);
$linkedin: hsla(206, 64%, 43%, 1.0);


#App {
  font-family: "SF Pro Rounded", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $secondary;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: exclusion;
  min-height: 300vh;
}
header {
  background-color: transparent;
}
.home {
  height: 100vh;
  background-image: url("~/assets/re-edited.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: exclusion;
}
a {
  color: $white-50;
  margin: 20px;
  &.nuxt-link-exact-active {
    color: $white;
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: $primary;
  }
}
a:hover {
  color: $white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: $primary-50;
  transition-timing-function: ease-in-out;
}
.hello_text {
  position: relative;
}
.bubble {
  position: absolute;
  top: 250px;
  left: 350px;
  background-color: $primary;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .04em;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 20px 20px 20px 0;
}
#name, #email, #location, #phone {
  color: $white;
}
#profession {
  color: $white;
  letter-spacing: 0.1em;
}
#email:hover , #location:hover, #phone:hover {
  .svg_icon {
    fill: $primary
  }
}
.svg_icon {
  fill: $white;
}
#facebook_mainFrame:hover, #twitter_mainFrame:hover, #google_mainFrame:hover, #linkedin_mainFrame:hover {
  opacity: 100%;
  transition: ease 2s;
  #facebook_container , #twitter_container, #google_container, #linkedin_container {
    transform: scale(1.5) translate(-20px, -45px);
    transition: ease 2s;
  }
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0!important;
  z-index: 2;
}
.facebook {
  position: absolute;
  top: 0;
  left: 0;
  height: 220px;
  width: 100px;
}
.twitter {
  position: absolute;
  top: 220px;
  left: 0;
  height: 220px;
  width: 100px;
}
.google {
  position: absolute;
  top: 440px;
  left: 0;
  height: 220px;
  width: 100px;
}
.linkedin {
  position: absolute;
  top: 660px;
  left: 0;
  height: 220px;
  width: 100px;
}
.gradient-divider {
  position: absolute;
  width: 100vw;
  height: 298px;
  background: linear-gradient(199.88deg, rgba(46, 52, 68, 0) -17.89%, #2E3444 32.6%, #24272E 80.47%, rgba(36, 39, 46, 0) 175.38%);
}







  // UnderDevelop Pages
#about, #contact, #skills, #portfolio, #hireme {
  font-size: 60px;
  color: hsla(0, 0%, 100%, 1.0);
}
